* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#todo-wrapper {
    width: 600px;
    padding:10px;
    border:1px solid #959595;
    border-radius: 4px;
    margin: 30px auto;
}

#todo-wrapper .list {
    list-style: none;
    margin-bottom: 10px;
}
#todo-wrapper .list-item {
    margin-bottom: 5px;
    border:1px solid #ddd;
    cursor: pointer;
}
#todo-wrapper .list-item:hover {
    -webkit-box-shadow: inset 1px 0px 7px rgb(166, 163, 164, 1);
    -moz-box-shadow: inset 1px 1px 7px rgba(166, 163, 164, 1);
    box-shadow: inset 1px 1px 7px rgba(166, 163, 164, 1);
}
#todo-wrapper .list-item:hover .text {
    text-decoration: underline;
}
#todo-wrapper .list-item:active {
    outline:none;
    border:1px solid #bce8f9;
    -webkit-box-shadow: inset 0 0 12px rgb(166, 163, 164, 1);
    -moz-box-shadow: inset 0 0 12px rgba(166, 163, 164, 1);
    box-shadow: inset 0 0 12px rgba(166, 163, 164, 1);
}

#todo-wrapper .list-item .text,
#todo-wrapper .list-item .check {
    display: inline-block;
    cursor: pointer;
}
#todo-wrapper .list-item .check{

}
#todo-wrapper .list-item .text {
    width:85%;
    padding:10px;
}
#todo-wrapper .list-item .check {
    width: 15px;
    height: 15px;
    line-height:15px;
    border: 1px solid #41ff7f;
    border-radius: 50%;
    text-align: center;
    background-color: #41ff7f;
}
#todo-wrapper .list-item.done .text {
    text-decoration: line-through;
    color: #ff5854;
}
#todo-wrapper .list-item.done .check {
    background-color: #ff5854;
    border: 1px solid #ff5854;
}
#todo-wrapper .edit textarea {
    display: inline-block;
    width:80%;
    height:100px;
    padding: 5px;
    resize: none;
    background-color: rgb(97, 97, 97);
    color: #bce8f9;
    font-size: 18px;
}
#todo-wrapper .edit textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 1px 0px 7px rgb(166, 163, 164, 1);
    -moz-box-shadow: inset 1px 1px 7px rgba(166, 163, 164, 1);
    box-shadow: inset 1px 1px 7px rgba(166, 163, 164, 1);
}
#todo-wrapper .edit .save{
    background-color: #363636;
    color: #bce8f9;
    font-size: 21px;
    display: inline-block;
    width:15%;
    height:112px;
    float: right;
    border:1px solid #898989;
}
#todo-wrapper .edit .save:focus {
    outline:none;
}
#todo-wrapper .edit .save:hover{
    outline:none;
    -webkit-box-shadow: inset 1px 0px 7px rgb(166, 163, 164, 1);
    -moz-box-shadow: inset 1px 1px 7px rgba(166, 163, 164, 1);
    box-shadow: inset 1px 1px 7px rgba(166, 163, 164, 1);
}
#todo-wrapper .edit .save:active{
    outline:none;
    border:1px solid #bce8f9;
    -webkit-box-shadow: inset 0 0 12px rgb(166, 163, 164, 1);
    -moz-box-shadow: inset 0 0 12px rgba(166, 163, 164, 1);
    box-shadow: inset 0 0 12px rgba(166, 163, 164, 1);
}